.contenedor{
    background-color: rgba(255, 166, 0, 0.644);
    border-radius:10px;
    margin:10px 0;
    width: 50%;
    position: relative;
    left: 25%;
    padding: 20px;
} 
input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid orange;
    border-radius: 10px;
    box-sizing: border-box;
}
input[type="submit"]{
    width: 100%;
    background-color: orangered;
    border-radius: 10px;
    border:none;
    justify-content: center;
    padding:15px 20px;
    margin: 8px 0;
    cursor: pointer;
  
}
input[type="submit"]:hover{
    background-color: rgba(255, 68, 0, 0.651);
}
textarea:focus, input:focus{
    background-color: rgb(255, 191, 113);
}